/* +++ COMMONS +++ */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.left{
    float: left;
}

.right{
    float: right;
}
/* --- /COMMONS --- */


/* +++ MAIN +++ */
.container-main{
    width: 70vw;
    margin: 3vh auto;
}

.container-elemento{
    margin: 0 .5vw 3.5vh .5vw;
}

/* +++ Sezione Immagine +++ */
.container-img{
    width: calc(70vw / 3 - 1vw);
    position: relative;
}

.img{
    width: calc(70vw / 3 - 1vw);
}

.img-hover{
    width: calc(70vw / 3 - 1vw);
    display: none;
}

.container-img:hover .img{
    display: none;
}

.container-img:hover .img-hover{
    display: inline-block;
}

.container-heart{
    height: 3vh;
    width: 3vh;
    background-color: white;
    position: absolute;
    top: 2%;
    right: 0;
}

.heart::after{
    content: "\2764";
    font-size: 2vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heart:hover{
    color: red;
}

.container-tags{
    font-size: 1vh;
    font-weight: 500;
    position: absolute;
    left: 0;
    bottom: 4%;
}

.tag-sconto{
    width: 2.5vw;
    line-height: 2vh;
    text-align: center;
    color: white;
    background-color: rgb(223, 0, 48);
    margin-right: .3vw;
}

.tag-sconto::before{
    content: "-";
}

.tag-sconto::after{
    content: "\0025";
}

.tag-sost{
    width: 5vw;
    line-height: 2vh;
    text-align: center;
    color: white;
    background-color: rgb(25, 134, 58);
}

.tag-sost::after{
    content: "Sostenibilit""\00E0";
}
/* --- /Sezione Immagine --- */


/* +++ Sezione Testo +++ */
.testo{
    margin-top: .7vh;
}

.marca{
    color: rgb(37, 37, 37);
    font-size: 1.1vh;
}

.articolo{
    text-transform: uppercase;
    font-size: 1.32vh;
}

.prezzo{
    font-size: 1.12vh;
}

.prezzo::after{
    content: " \20AC";
}

.now{
    font-weight: bold;
    color: red;
    margin-right: .3vw;
}

.now::after{
    font-weight: bold;
}

.ex{
    text-decoration: line-through;
}

.ex::after{
    text-decoration: line-through;
}
/* --- /Sezione Testo --- */
/* --- /MAIN --- */


/* +++ DEBUG +++ */
.debug .container-main{
    outline: 1px solid pink;
}
/* --- /DEBUG --- */